<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<bean id="consumer" class="xpadro.spring.integration.consumer.SyncConsumer" />
	

	<bean id="producer" class="xpadro.spring.integration.producer.JmsProducer" />

	<!-- Infrastructure -->
	<!-- Connection factory and jmsTemplate configuration -->
	<!-- as seen in the second section -->

	<!-- Destinations -->
	<bean id="toIntQueue" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="int.sync.queue" />
	</bean>



	<!-- Infrastructure -->
	<bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="tcp://localhost:6161" />
	</bean>

	<bean id="cachingConnectionFactory"
		class="org.springframework.jms.connection.CachingConnectionFactory">
		<property name="targetConnectionFactory" ref="connectionFactory" />
	</bean>

	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="cachingConnectionFactory" />
		<property name="defaultDestination" ref="syncTestQueue" />
	</bean>

	<!-- Destinations -->
	<bean id="syncTestQueue" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="test.sync.queue" />
	</bean>

</beans>

